// app global css


//main carousel 
.custom-caption
  text-align: center
  padding: 12px
  color: white
  background-color: rgba(0, 0, 0, .25)

.slide-title-h2
  margin: 12px 6px
  font-size: 2rem
  font-weight: 500

.slide-subtitle
  margin: 6px
  color: grey-4
